<h2><%= @business.corporate_name %></h2>

<p>CNPJ: <%= @business.cnpj %></p> 
<p>Endereço de Faturamento: <%= @business.billing_address %></p>
<p>Estado: <%= @business.state %></p>
<p>CEP: <%= @business.zip_code %></p>
<p>Email de Faturamento: <%= @business.billing_email %></p>
<p>Domínio para futuros usuários: <%= @business.domain %></p>

<%= link_to("Editar", edit_client_business_register_path) %>

<p><%= link_to("Voltar", client_home_index_path) %></p>