<h2><%= current_user.business_register.corporate_name %></h2>

<p>CNPJ: <%= current_user.business_register.cnpj %></p> 
<p>Endereço de Faturamento: <%= current_user.business_register.billing_address %></p>
<p>Estado: <%= current_user.business_register.state %></p>
<p>CEP: <%= current_user.business_register.zip_code %></p>
<p>Email de Faturamento: <%= current_user.business_register.billing_email %></p>
<p>Domínio para futuros usuários: <%= current_user.business_register.domain %></p>

<%= link_to("Editar", edit_client_business_register_path) %>

<p><%= link_to("Voltar", client_home_index_path) %></p>