<p>Nome: <%= @transaction.product.name %></p>
<p>Método de Pagamento: <%= @transaction.payment_method_option.payment_method.name %></p>
<p>Valor: <%= number_to_currency @transaction.product.price %></p>
<p>Desconto: <%= number_to_percentage @transaction.payment_method_option.discount %></p>
<p>Valor Total: <%= number_to_currency @transaction.net_price %></p>
<p>Data de Vencimento: <%= l @transaction.due_date.to_date %></p>
<p>Status: <%= @transaction.status %></p>

<%= link_to "Voltar", client_transactions_path %>
